USE [master]
GO
/****** Object:  Database [CVHT]    Script Date: 12/23/2023 3:56:01 PM ******/
CREATE DATABASE [CVHT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CVHT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CVHT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CVHT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CVHT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CVHT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CVHT]
GO
/****** Object:  Table [dbo].[covanhoctap]    Script Date: 12/23/2023 3:56:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[covanhoctap](
	[Namhoc] [nvarchar](250) NOT NULL,
	[MaLop] [varchar](30) NOT NULL,
	[Nganh] [nvarchar](250) NOT NULL,
	[TenCVHT] [nvarchar](250) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[DienThoai] [nvarchar](20) NOT NULL,
	[QuyetDinh] [nvarchar](100) NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
	[NoiDungDieuChinh] [nvarchar](300) NULL,
 CONSTRAINT [PK_covanhoctap] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[covanhoctap] ([Namhoc], [MaLop], [Nganh], [TenCVHT], [Email], [DienThoai], [QuyetDinh], [GhiChu], [NoiDungDieuChinh]) VALUES (N'2021-2022', N'CA19D', N'Dược', N'Nguyễn Bạch Vân', N'bachvannguyen@tvu.edu.vn', N'0982 712 000', N'4571, 17/8/2021', N'', N'')
INSERT [dbo].[covanhoctap] ([Namhoc], [MaLop], [Nganh], [TenCVHT], [Email], [DienThoai], [QuyetDinh], [GhiChu], [NoiDungDieuChinh]) VALUES (N'2021-2022', N'CA19MN', N'Giáo dục Mầm non', N'Võ Thúy Hồng', N'vthong@tvu.edu.vn ', N'0903 160 586', N'4571, 17/8/2021', N'', N'')
INSERT [dbo].[covanhoctap] ([Namhoc], [MaLop], [Nganh], [TenCVHT], [Email], [DienThoai], [QuyetDinh], [GhiChu], [NoiDungDieuChinh]) VALUES (N'2021-2022', N'CA20MN', N'Giáo dục Mầm non', N'Võ Thanh Hương', N'vthuong@tvu.edu.vn', N'0966 117 183', N'4571, 17/8/2021', N'', N'')
GO
ALTER TABLE [dbo].[covanhoctap] ADD  CONSTRAINT [DF__covanhoct__GhiCh__239E4DCF]  DEFAULT (NULL) FOR [GhiChu]
GO
ALTER TABLE [dbo].[covanhoctap] ADD  CONSTRAINT [DF__covanhoct__ND_Di__24927208]  DEFAULT (NULL) FOR [NoiDungDieuChinh]
GO
USE [master]
GO
